package components

templ Toggle(id string, name string, label string, icon templ.Component) {
	<div class="space-y-1">
		<div class="flex items-center justify-between">
			@InputLabel(label, icon)
			<div class="relative inline-block w-10 mr-2 align-middle select-none">
				<input
					type="checkbox"
					id={ id }
					name={ name }
					class="toggle-checkbox peer absolute block size-[22px] rounded-full bg-content border-surface-muted checked:bg-accent-contrast checked:border-accent checked:right-0 border-4 m-px appearance-none cursor-pointer"
				/>
				<label
					for={ id }
					class="toggle-label block overflow-hidden h-[24px] rounded-full bg-surface-muted border-content-muted/30 border peer-has-checked:bg-accent cursor-pointer"
				></label>
			</div>
		</div>
	</div>
}

templ ToggleWithContent(id string, name string, label string, icon templ.Component) {
	<div class="space-y-1">
		<div class="flex items-center justify-between">
			@InputLabel(label, icon)
			<div class="relative inline-block w-10 mr-2 align-middle select-none">
				<input
					type="checkbox"
					id={ id }
					name={ name }
					class="toggle-checkbox peer absolute block size-[22px] rounded-full bg-content border-surface-muted checked:bg-accent-contrast checked:border-accent checked:right-0 border-4 m-px appearance-none cursor-pointer"
				/>
				<label
					for={ id }
					class="toggle-label block overflow-hidden h-[24px] rounded-full bg-surface-muted border-content-muted/30 border peer-has-checked:bg-accent cursor-pointer"
				></label>
			</div>
		</div>
		<div id={ id + "-content" } class="hidden">
			{ children... }
		</div>
	</div>
	@initToggleWithContent(id)
}

script initToggleWithContent(toggleid string) {
    document.addEventListener(
        'DOMContentLoaded', () => {
            const toggle = document.getElementById(toggleid)
            const content = document.getElementById(toggleid + "-content")

            if (toggle && content) {
                toggle.addEventListener(
                    'change', () => {
                        content.style.display = toggle.checked ? 'block' : 'none'
                    }
                )
            }
        }
    )
}
